.form__input {
  display: block;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  box-sizing: border-box;
  width: 358px;
  height: 27px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: calc(17/14);
  padding-bottom: 14px;
}

.form__input:focus {
  outline: none;
  border: gray 1px solid;
  padding-bottom: 0;
}

.form__input::-webkit-input-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: calc(16.94/14);
}

.form__input::-moz-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: calc(16.94/14);
  vertical-align: text-top;
}

.forma__input::-ms-input-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: calc(16.94/14);
}

.forma__input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: calc(16.94/14);
}

@media screen and (max-width: 550px) {
  .forma__input {
    max-width: 238px;
  }
}
