.button {
  width: 150px;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
  border: #fff 2px solid;
  background-image: url(../../images/button/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

@media screen and (max-width: 940px) {
  .button {
    width: 282px;
    height: 50px;
  }
}
